.b-header {
  background: url(../images/header_bg.png) repeat-x 0px 0px;
}

.b-top_panel {
  padding: 6px 0px 10px 0px;
}
.b-links {
  overflow: hidden;
}
.b-links A {
  display: block;
  float: left;
  font: 13px/24px arial;
  color: #D12A18;
  text-decoration: underline;
  margin: 0px 5px 0px 1px;
}
.b-links A:hover {
  text-decoration: none;
}
.b-links A.act {
  font: 13px arial;
  color: #4B4B4B;
  padding: 4px 13px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px 0px #787878;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  background: #D9D9D9;
  text-decoration: none;
}

.b-social {
  float: right;
  margin: 0px 45px 0px 0px;
  overflow: hidden;
}
.b-social SPAN {
  float: left;
  margin: 0px 10px 0px 0px;
  font: 13px/26px arial;
  color: #767676;
  display: block;
}

.social_link {
  float: left;
  display: block;
  margin: 0px 0px;
  width: 30px;
  height: 30px;
  background: url(../images/ico_sprite.png) no-repeat 0px 0px;
}
.social_link-1 {
  background-position: 0px 0px;
}
.social_link-2 {
  background-position: 0px -100px;
}
.social_link-3 {
  background-position: 0px -200px;
}
.social_link-4 {
  background-position: 0px -300px;
}

.b-logo_row {
  overflow: hidden;
  padding: 17px 0px 0px 0px;
}

.b-logotype {
  display: block;
  float: left;
  width: 141px;
  height: 50px;
  text-indent: -9999px;
  background: url(../images/logotype.png) no-repeat 0px 0px;
}

.logotype_text {
  margin: 0px 0px 0px 155px;
  width: 340px;
  font: 15px open_sanslight;
  color: #292A2C;
}
.logotype_text P {
  margin: 0px;
  padding: 0px;
  font: 15px open_sanslight;
  color: #292A2C;
}
.logotype_text STRONG {
  font: 17px open_sansbold;
  color: #5B626A;
}

.b-group {
  float: right;
  width: 405px;
  margin: 6px 0px 0px 0px;
}
.group_link {
  display: block;
  float: left;
  font: 13px arial;
  color: #626262;
  padding: 3px 0px 5px 35px;
  margin: 0px 8px 0px 10px;
  text-decoration: underline;
  background: url(../images/ico_sprite.png) no-repeat 0px 0px;
}
.group_link:hover {
  text-decoration: none;
}
.group_link SPAN {
  display: inline-block;
  width: 9px;
  height: 7px;
  background: url(../images/ico_sprite.png) no-repeat 0px -1000px;
}
.group_link-1 {
  background-position: 0px -400px;
}
.group_link-1:hover {
  background-position: 0px -500px;
}
.group_link-2 {
  background-position: 0px -600px;
}
.group_link-2:hover {
  background-position: 0px -700px;
}
.group_link-3 {
  background-position: 0px -800px;
}
.group_link-3:hover {
  background-position: 0px -900px;
}
.b-language {
  float: left;
  width: 147px;
  padding: 5px 0px 0px 0px;
  margin: -5px 0px 0px 0px;
  border: solid 1px transparent;
}
.b-language .group_link {
  float: none;
}
.b-language:hover {
  /* border: solid 1px gray;
  border-radius: 10px; */
}
.b-language:hover .language_drop {
  display: block;
}
.language_drop {
  display: none;
  position: absolute;
  z-index: 20px;
  overflow: hidden;
  border-radius: 10px;
  background: #F3F3F3;
}
.language_drop .group_link {
  display: block;
  width: 120px;
  /* border-top: solid 1px gray; */
  margin: 2px 0px;
  padding-top: 5px;
  padding-left: 45px;
  background: none;
}
.b-top_menu-bg {
  border-bottom: solid 5px #A9A9A9;
}
.b-top_menu {
  margin: 21px 0px -5px 0px;
  overflow: hidden;
}
.b-top_menu LI {
  float: left;
  margin: 0px 44px 0px 0px;
  padding: 5px 10px 5px 0px;
  border-bottom: solid 5px #A9A9A9;
}
.b-top_menu LI A {
  display: block;
  font: bold 17px helveticabold;
  color: #D12A18;
}
.b-top_menu LI A SPAN {
  display: inline-block;
  width: 9px;
  height: 7px;
  background: url(../images/ico_sprite.png) no-repeat 0px -1100px;
}
.b-top_menu LI.act {
  border-bottom: solid 5px #D12A18;
}
.b-top_menu LI:hover {
  border-bottom: solid 5px #D12A18;
}
.b-top_menu LI:hover A {
  text-decoration: none;
}
.b-top_menu LI.last {
  margin-right: 0px;
  padding-right: 0px;
}


.b-slider {
  overflow: hidden;
  margin-top: 17px;
}
.b-slider .bx-wrapper {
  width: 615px;
  height: 370px;
  float: left;
}
.b-slider .bxslider LI IMG {
  width: 615px;
  height: 370px;
  border: solid 1px #A5ABAE;
}
.b-slider .bx-wrapper .bx-caption {
  height: 63px;
  background: url(../images/slider_caption-bg.png) repeat 0px 0px;
}
.b-slider .bx-wrapper .bx-caption span {
  font: 16px open_sanslight;
  color: #fff;
  padding: 13px 0px 0px 24px;
}
.b-slider .b-pager {
  overflow: hidden;
  padding: 10px 10px 10px 30px;
  margin: 0px 0px 0px 630px;
}
.b-slider .b-pager .bxpager_item {
  display: block;
  height: 90px;
  margin-bottom: 11px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  border: solid 1px #B3B3B3;
  box-shadow: 0px 0px 8px 0px #8F8F8F;
  text-decoration: none;
  background: url(../images/slider_pager-bg.png) repeat-x 0px 0px;
}
.b-slider .b-pager .bxpager_item.active {
  border: solid 1px #C64640;
  box-shadow: 0px 0px 8px 0px #940E00;
}
.b-slider .b-pager .bxpager_item:hover {
  border: solid 1px #C64640;
  box-shadow: 0px 0px 8px 0px #940E00;
}
.b-slider .b-pager .bxpager_item.active STRONG {
  text-decoration: underline;
}
.b-slider .b-pager .bxpager_item:hover STRONG {
  text-decoration: underline;
}
.b-slider .b-pager .bxpager_item.last {
  display: block;
  margin-bottom: 0px;
  border: solid 1px #B3B3B3;
  background: url(../images/slider_pager-bg.png) repeat-x 0px 0px;
}
.b-slider .b-pager .bxpager_item STRONG {
  font: 18px open_sanssemibold;
  color: #D12A18;
}
.b-slider .b-pager .bxpager_item P {
  font: 13px open_sansregular;
  color: #6E6E6E;
  margin: 0px;
  padding: 0px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-0,
.b-slider .b-pager .bxpager_item .bxpager_item-1,
.b-slider .b-pager .bxpager_item .bxpager_item-2 {
  display: block;
  width: 84px;
  height: 84px;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -20px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-0 {
  background: url(../images/slider_pager-0.png) no-repeat 0px 0px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-1 {
  background: url(../images/slider_pager-1.png) no-repeat 0px 0px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-2 {
  background: url(../images/slider_pager-2.png) no-repeat 0px 0px;
}


.b-slider .b-head_wslider-1, .b-slider .b-head_wslider-2, .b-slider .b-head_wslider-3 {
  display: none;
}










