.b-header {
  background: url(../images/header_bg.png) repeat-x 0px 0px;
}

.b-top_panel {
  padding: 6px 0px 10px 0px;
}
.b-links {
  overflow: hidden;
}
.b-links A {
  display: block;
  float: left;
  font: 13px/24px arial;
  color: #D12A18;
  text-decoration: underline;
  margin: 0px 5px 0px 1px;
  margin-right: 0px;
  margin-left: 7px;
}
.b-links A:hover {
  text-decoration: none;
}
.b-links A.act {
  font: 13px arial;
  color: #4B4B4B;
  padding: 4px 13px;
  margin-right: 7px;
  margin-left: 0px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px 0px #787878;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  background: #D9D9D9;
  text-decoration: none;
}

.b-social {
  float: right;
  margin: 0px 45px 0px 0px;
  overflow: hidden;
}
.b-social SPAN {
  float: left;
  margin: 0px 10px 0px 0px;
  font: 13px/26px arial;
  color: #767676;
  display: block;
}

.social_link {
  float: left;
  display: block;
  margin: 0px 0px;
  width: 30px;
  height: 30px;
  background: url(../images/ico_sprite.png) no-repeat 0px 0px;
}
.social_link-1 {
  background-position: 0px 0px;
}
.social_link-2 {
  background-position: 0px -100px;
}
.social_link-3 {
  background-position: 0px -200px;
}
.social_link-4 {
  background-position: 0px -300px;
}
.social_link-5 {
  background-position: 0px -1300px;
}

.b-logo_row {
  overflow: hidden;
  padding: 17px 0px 0px 0px;
}

.b-logotype {
  display: block;
  float: left;
  width: 141px;
  height: 50px;
  text-indent: -9999px;
  background: url(../images/logotype.png) no-repeat 0px 0px;
}

.logotype_text {
  margin: 0px 0px 0px 155px;
  width: 340px;
  font: 15px open_sanslight;
  color: #292A2C;
}
.logotype_text P {
  margin: 0px;
  padding: 0px;
  font: 15px open_sanslight;
  color: #292A2C;
}
.logotype_text STRONG {
  font: 17px open_sansbold;
  color: #5B626A;
}

.b-group {
  float: right;
  width: 405px;
  margin: 6px 0px 0px 0px;
}
.group_link {
  display: block;
  float: left;
  font: 13px arial;
  color: #626262;
  padding: 3px 0px 5px 35px;
  margin: 0px 8px 0px 10px;
  text-decoration: underline;
  background: url(../images/ico_sprite.png) no-repeat 0px 0px;
}
.group_link:hover {
  text-decoration: none;
}
.group_link SPAN {
  display: inline-block;
  width: 9px;
  height: 7px;
  background: url(../images/ico_sprite.png) no-repeat 0px -1000px;
}
.group_link-1 {
  background-position: 0px -400px;
}
.group_link-1:hover {
  background-position: 0px -500px;
}
.group_link-2 {
  background-position: 0px -600px;
}
.group_link-2:hover {
  background-position: 0px -700px;
}
.group_link-3 {
  background-position: 0px -800px;
}
.group_link-3:hover {
  background-position: 0px -900px;
}
.b-language {
  float: left;
  width: 147px;
  padding: 5px 0px 0px 0px;
  margin: -5px 0px 0px 0px;
  border: solid 1px transparent;
}
.b-language .group_link {
  float: none;
}
.b-language:hover {
  /* border: solid 1px gray;
  border-radius: 10px; */
}
.b-language:hover .language_drop {
  display: block;
}
.language_drop {
  display: none;
  position: absolute;
  z-index: 20px;
  overflow: hidden;
  border-radius: 10px;
  background: #F3F3F3;
}
.language_drop .group_link {
  display: block;
  width: 120px;
  /* border-top: solid 1px gray; */
  margin: 2px 0px;
  padding-top: 5px;
  padding-left: 45px;
  background: none;
}
.b-top_menu-bg {
  border-bottom: solid 5px #A9A9A9;
}
.b-top_menu {
  margin: 21px 0px -5px 0px;
  height: 34px;
}
.b-top_menu LI {
  float: left;
  position: relative;
  z-index: 10;
  height: 19px;
  margin: 0px 44px 0px 0px;
  padding: 5px 10px 5px 0px;
  border-bottom: solid 5px #A9A9A9;
}
.b-top_menu LI A {
  display: block;
  position: relative;
  z-index: 1;
  font: bold 17px helveticabold;
  color: #D12A18;
}
.b-top_menu LI A SPAN {
  display: inline-block;
  width: 9px;
  height: 7px;
  background: url(../images/ico_sprite.png) no-repeat 0px -1100px;
}
.b-top_menu LI A SPAN.drop_arrow {
  display: none;
  width: 25px;
  height: 14px;
  position: relative;
  z-index: 1;
  top: 7px;
  left: 50%;
  margin-left: -5px;
  font: bold 17px helveticabold;
  color: #D12A18;
  background: url(../images/drop_menu-toparrow.png) no-repeat 0px 0px;
}
.b-top_menu LI.act {
  border-bottom: solid 5px #D12A18;
}
.b-top_menu LI:hover A SPAN.drop_arrow {
  display: block;
}
.b-top_menu LI:hover .b-pod_menu {
  display: block;
}
.b-top_menu LI:hover {
  border-bottom: solid 5px #D12A18;
}
.b-top_menu LI:hover A {
  text-decoration: none;
}
.b-top_menu LI.last {
  margin-right: 0px;
  padding-right: 0px;
}
.b-pod_menu {
  display: none;
  position: absolute;
  z-index: -1;
  top: 20px;
  margin-top: 22px;
  padding-top: 3px;
  border: solid 3px #FFFFFF;
  box-shadow: 2px 2px 9px 0px #373737;
  background: #F3F3F3;
}
.b-pod_menu.b-pod_menu__right {
  right: 0px;
}
.b-pod_menu LI {
  border: none;
  float: none;
  height: auto;
  padding-right: 0px;
  margin-right: 0px;
}
.b-pod_menu LI.last A {
  padding-bottom: 5px;
  background: none;
}
.b-pod_menu LI A {
  display: block;
  font: 16px open_sanslight;
  white-space: nowrap;
  padding: 0px 10px 10px 10px;
  color: #4F4F4F;
  background: url(../images/sep1.png) repeat-x left bottom;
}
.b-pod_menu LI A:hover {
  text-decoration: underline;
}
.b-pod_menu LI:hover {
  border: none;
}

.b-slider {
  overflow: hidden;
  margin-top: 17px;
  position: relative;
  z-index: 1;
}
.b-slider .bx-wrapper {
  width: 617px;
  height: 372px;
  float: left;
  position: relative;
  z-index: 1;
}
.b-slider .bxslider LI IMG {
  width: 615px;
  height: 370px;
  border: solid 1px #A5ABAE;
}
.b-slider .bx-wrapper .bx-caption {
  height: 63px;
  width: 615px;
  margin: 0px 0px 0px 1px;
  background: url(../images/slider_caption-bg.png) repeat 0px 0px;
}
.b-slider .bx-wrapper .bx-caption span {
  font: 16px open_sanslight;
  color: #fff;
  padding: 13px 0px 0px 24px;
}
.b-slider .b-pager {
  overflow: hidden;
  padding: 10px 10px 10px 30px;
  margin: 0px 0px 0px 630px;
}
.b-slider .b-pager .bxpager_item {
  display: block;
  height: 90px;
  margin-bottom: 11px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
  border: solid 1px #B3B3B3;
  box-shadow: 0px 0px 8px 0px #8F8F8F;
  text-decoration: none;
  background: url(../images/slider_pager-bg.png) repeat-x 0px 0px;
}
.b-slider .b-pager .bxpager_item.last {
  display: block;
  margin-bottom: 0px;
  border: solid 1px #B3B3B3;
  background: url(../images/slider_pager-bg.png) repeat-x 0px 0px;
}
.b-slider .b-pager .bxpager_item.active {
  border: solid 1px #C64640;
  box-shadow: 0px 0px 8px 0px #940E00;
}
.b-slider .b-pager .bxpager_item:hover {
  border: solid 1px #C64640;
  box-shadow: 0px 0px 8px 0px #940E00;
}
.b-slider .b-pager .bxpager_item.active STRONG {
  text-decoration: underline;
}
.b-slider .b-pager .bxpager_item:hover STRONG {
  text-decoration: underline;
}
.b-slider .b-pager .bxpager_item STRONG {
  font: 18px open_sanssemibold;
  color: #D12A18;
}
.b-slider .b-pager .bxpager_item P {
  font: 13px open_sansregular;
  color: #6E6E6E;
  margin: 0px;
  padding: 0px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-ico {
  display: block;
  width: 84px;
  height: 80px;
  line-height: 80px;
  padding: 0px 0px 4px 0px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -20px;
  background: url(../images/slider_pager-ico.png) no-repeat 0px 0px;
}
.b-slider .b-pager .bxpager_item .bxpager_item-ico IMG {
  vertical-align: middle;
}

.b-slider .b-head_wslider-1,
.b-slider .b-head_wslider-2,
.b-slider .b-head_wslider-3 {
  float: left;
  width: 615px;
  height: 370px;
  position: absolute;
  top: -370px;
}
.b-head_wslider-1 .bx-controls,
.b-head_wslider-2 .bx-controls,
.b-head_wslider-3 .bx-controls {
  display: none;
}
.b-head_wslider-1:hover .bx-controls,
.b-head_wslider-2:hover .bx-controls,
.b-head_wslider-3:hover .bx-controls {
  display: block;
}










/* +b-main_feedback */

.b-main_feedback {
  box-shadow: 0px 0px 7px 0px #8D8D8D;
  border: solid 1px #E5E5E5;
  margin: 40px 0px 10px 0px;
  padding: 10px 31px;
  border-radius: 10px;
}
.b-main_feedback_inner {
  overflow: hidden;
  margin-top: 14px;
}
.b-main_feedback_item {
  max-width: 174px;
  float: left;
  overflow: hidden;
  margin: 5px;
  font: 13px/13px 'open_sansregular';
  color: black;
  padding: 5px;
}

.b-main_feedback_item__img {
  width: 100%;
}
.b-main_feedback_item__img A {
  display: block;
  text-align: left;
}
.b-main_feedback_item__img A IMG {
  border: solid 3px #fff;
  box-shadow: 2px 1px 4px #686868;
}
.b-main_feedback_item__text {
  dispaly: inline-block;
  font: 12px\18px 'open_sansregular';
  color: #0F0101;
  margin-bottom: 5px;
}
.b-main_feedback_item__link {
  dispaly: inline-block;
  font: 12px 'open_sansregular';
  color: #4C4C4C;
}

/* -b-main_feedback */


.b-main_clients {
  margin: 10px 0px;
  padding: 10px 31px;
}
.b-main_clients .b-head {
  margin: 0px 0px 15px 0px;
}
.b-main_clients_inner UL LI A {
  font: 12px arial;
  color: #888888;
}
.b-main_clients_inner .bx-controls {
  /* display: none; */
}
.b-main_clients_inner:hover .bx-controls {
  /* display: block; */
}
.b-main_clients_inner .bx-wrapper .bx-prev {
	left: -30px;
	background: url(../images/main_clients-slider_left.png) no-repeat 0 0px;
}
.b-main_clients_inner .bx-wrapper .bx-next {
	right: -35px;
	background: url(../images/main_clients-slider_right.png) no-repeat 0px 0px;
}




.b-feedbackof4ser__wrap {
  background: url(../images/bg-preim_misteryshopers.png) repeat-x 0 0 #FFFFFF;
  border-bottom: solid 1px #F4F4F4;
  overflow: hidden;
  padding-bottom: 20px;
}
.b-feedbackof4ser__title {
  margin: 27px 0 45px 0;
  font: bold 25px/25px arial;
  color: #39474A;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
.b-feedbackof4ser__list {
  
}
.b-feedbackof4ser__item {
  float: left;
  width: 223px;
  height: 148px;
  padding: 10px;
  margin: 10px 7px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  border: solid 1px #CDCDCD;
  box-shadow: 0px 0px 7px 0px #5A5A5A;
  background: url(../images/feedbackof4ser__item.png) repeat-x 0px 0px;
}
.b-feedbackof4ser__item .arrow {
  position: absolute;
  z-index: 2;
  right: 50px;
  bottom: -18px;
  width: 19px;
  height: 18px;
  background: url(../images/feedbackof4ser__item-arrow.png) repeat-x 0px 0px;
}
.b-feedbackof4ser__item.first {
  margin-left: 0px;
}
.b-feedbackof4ser__item.last {
  margin-right: 0px;
}
.b-feedbackof4ser__item P {
  font: italic 15px arial;
  color: #313131;
}
.b-feedbackof4ser__item STRONG {
  display: block;
  font: bold 14px arial;
  color: #313131;
  margin: 0px 0px 10px 0px;
}



.b-2friends__wrap {
  background: url(../images/bg-steps_misteryshopers.png) repeat-x 0 0 white;
  overflow: hidden;
}
.b-2friends {
  
}
.b-2friends__title {
  margin: 27px 0 0px 0;
  font: bold 25px/25px arial;
  color: #39474A;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
.b-2friends__list {
  margin-bottom: 0px;
}
.b-2friends__right {
  float: right;
  /* width: 490px; */
  width: 465px;
  margin: 45px 0px 0px 0px;
}
.b-big_social {
  overflow: hidden;
  width: 360px;
  margin: 0px auto 30px auto;
}
.big_social__link {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  margin: 0px 4px;
  background: url(../images/ico_big_social.png) no-repeat 0px 0px;
}
.big_social__link-1 {
  background-position: 0px 0px;
}
.big_social__link-2 {
  background-position: -71px 0px;
}
.big_social__link-3 {
  background-position: -142px 0px;
}
.big_social__link-4 {
  background-position: -213px 0px;
}
.big_social__link-5 {
  background-position: -284px 0px;
}
.b-2friends__left_link {
  
}
.b-2friends__left_link A {
  display: block;
  width: 324px;
  height: 50px;
  margin: 0 auto;
  background: #D20A1F;
  border-radius: 6px;
  font: bold 16px/50px arial;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0 #A10309;
}
.b-2friends__text1 {
  font: 15px/15px arial;
  color: #545454;
  margin: 10px 0px 0px 0px;
  text-align: center;
}
.b-2friends__login {
  margin: 10px 0 0px 0;
}
.b-2friends__img {
  float: left;
  width: 505px;
  height: 321px;
  margin-top: -40px;
  background: url(../images/2friends__img.png) repeat-x 0px 0px;
}